apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: abhishek661/o1:order
        imagePullPolicy: Always
        ports:
        - containerPort: 5003

