apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: abhishek661/p2:product
        ports:
        - containerPort: 5002

