apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-deployment
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: abhishek661/u1:user
        ports:
        - containerPort: 5001
        env:
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: JWT_SECRET

